<section id="todoapp"  ng-controller="TodoCtrl">
    <h1>Todo List</h1>

    <form id="todo-form" ng-submit="addTodo()" class="ng-pristine ng-valid">
        <input id="new-todo" placeholder="What needs doing?" ng-model="newTodo.title" autofocus=""
               class="ng-pristine ng-valid">
        <button type="submit" id="add-task" value="">Add Task</button>
    </form>

    <table>
        <tr ng-repeat="todo in todos">
            <td><input type="checkbox"></td>
            <td>{{todo.title}}</td>
        </tr>
    </table>
</section>